*{
  margin: 0;
  padding: 0 ;
  font-family: 'Lato', sans-serif !important;
}
:root{
  --fontPoppin: 'Poppins', sans-serif;
}

/* COMPONENTS ----- NAVBAR-----  */
.header{
  height: 70px !important;
  background-color: #475be9;
}
.container{
  max-width: 1300px;
  margin: 0 auto;
  width: 85%;
}

.nav-main{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}
.row-nav-main{
  padding-top: 11px !important;
}
.logo-main{
  display: flex;
  align-items: center;
  align-self: center;
  /* justify-content: center; */
}
.img-logo{
  width: 45px;
  height: 45px;
}
.header  .left .logo-main p{
  margin-bottom: 0;
  font-size: 30px;
  color: #fff;
}
.header  .left .logo-main span{
  font-weight: 600;
  font-style: italic;
}
@media (max-width: 768px) {
  .img-logo{
    width: 45px;
    height: 45px;
  }
  .header  .left .logo-main p{
    font-size: 25px;
  }
}
.left{
  flex: 1;
  background-color: #475be9;
}
/* .col-center{
  
  justify-content: center !important;
} */
.center{
  flex: 3;
  justify-content: center;
  background: unset !important;
  border: none !important;
  font-size: 20px !important;
  align-items: center;
  color: #fff !important;
  font-weight: 400;
}
.icon-size{
  font-size: 25px !important;
}
@media (max-width: 768px) {
     .center{
       font-size: 18px !important;
     }
     .icon-size{
       font-size: 20px !important;
     }
     .center{
       display: none !important;
     }
}
/* .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected{
  color: #fff !important;
} */
.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover{
  color: #fff !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after{
  border-bottom: 2px solid #fff !important;
}
/* .col-right{
  display: flex !important;
  justify-content: center !important;
align-items: center !important;
} */
.button-center{
  /* flex: 2 !important; */
  display: none;
}
.btn-menu{
  height: 35px !important;
  width: 35px !important;
  border-radius: 4px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.drawer-contenido{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-size: 20px;
  
}
.drawer-link{
  font-size: 20px !important;
  padding-bottom: 10px;
  color: #000;
  border-bottom: 1px solid #000;
  width: 100%;
}
.drawer-login{
  width: 100%;
  border-radius: 16px;
  background-color: #211d399c;
  color: #fff;
  font-weight: 500;
  padding: 2px 0;
  border: 2px solid #000;
}
@media (max-width: 768px) {
  .button-center{
    flex: 1 !important;
    display: flex !important;
    justify-content: right !important;
    display: unset;
  }
}
.ant-drawer .ant-drawer-content{
  width: unset !important;
}
.ant-drawer-content{
  left: 15px !important;
}
.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
  width: 95% !important;
}
.right{
  flex: 1;
  justify-content: right;
  align-items: center;
  gap: 10px;
  display: flex;
}
.btn-login{
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
.btn-login:hover{
  border-bottom: 2px solid #fff;
}
@media (max-width: 768px) {
     .btn-login{
       font-size: 18px;
     }
     .right{
       display: none;
     }
}
/* Fin ------Nav-bar ------ */
/* ----------nav Bar REesponsive ---------- */

/* COMPONENTS --------- Cart Widget ------ */
.icon-cartwidget{
  font-size: 30px;
  color: #000;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contador-cartwidget{
  background-color: rgba(40, 101, 202, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  color: #fff;
  margin: -20px 0px 0px -15px;
}
.icon-cartwidget .contador-cartwidget p{
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 900;
}
@media (max-width: 768px) {
     .icon-cartwidget{
       font-size: 25px;
      
     }
     .contador-cartwidget{
       width: 16px;
       height: 16px;
     }
     .icon-cartwidget .contador-cartwidget p{
      font-size: 10px;
    }
}
/* FIN ----- Cart Widget ------- */
/* COMPONENTS -------- Item List Widget ---------- */
.itemListContainer{
  /* text-align: center; */
  margin-top: 20px;
}
.d-flex__titulo{
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}
.titulo__productos{
  font-family: var(--fontPoppin) !important;
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.margin__productosDest{
  margin: 60px auto;
}
@media (max-width: 768px) {
     .titulo__productos{
       font-size: 34px;
     }
}
.site-card-wrapper {
  padding: 30px;
  background: #ececec;
}
/* card productos */
.card__item{
  width: 265px !important;
  border: none !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) !important;
  display: flex;
  flex-direction: column;
  border-radius: 15px !important;
  z-index: 2 !important;
}
.ant-row{
  justify-content: center !important;
  column-gap: 40px !important;
}
.ant-col-xs-24{
  flex: unset !important;
}
.ant-card-bordered .ant-card-cover{
  display: flex;
  justify-content: center;
}
.subtitulo__item{
  font-family: var(--fontPoppin) !important;
  font-weight: 700;
  color: rgba(81, 81, 81, 1) !important;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0 !important;
  padding: 0 15px !important;
}
.text__precios{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text__precio{
  color: rgba(74, 58, 255, 1);
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0;
}
.text__precioDel{
  font-size: 16px;
  font-weight: 400;
  color: rgba(81, 81, 81, 1);
}
.acciones__cart{
  display: flex;
  margin-top: 15px;
  justify-content: center;
  gap: 15px;
}
.descuento__cart{
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4A3AFF;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  z-index: 3 !important;
  position: absolute;
  top: 18px;
  left: -13px;
}
.btn__addFav{
  color: #EF2D5B !important;
  border: 2px solid #EF2D5B !important;
  border-radius: 8px !important;
  width: 48px;
  height: 50px !important;
  font-size: 28px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-weight: 700 !important;
}
.btn__verDetail{
  background-color: #EF2D5B !important;
  color: #fff !important;
  border-radius: 8px !important;
  font-family: var(--fontPoppin) !important;
  font-weight: 700 !important;
  width: 148px;
  height: 50px !important;
  font-size: 16px;
  border: none !important;
  
}
.ant-card-head-title{
  white-space: unset !important;
}
.img__productos{
  width: 60% !important;
  height: 80% !important;
}

.card-producto{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.space-count{
  display: flex !important;
  justify-content: center !important;
  gap: 10px !important;
}
.card-contador{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn-onAdd{
  background-color: #ff9306 !important;
  border-color: #ff9306 !important;
  color: #fff !important;
  border-radius: 5px !important;
  font-weight: 700 !important;
}
.btn-onFinish{
  background-color: #5CB85C !important;
  border-color: #5CB85C !important;
  color: #fff !important;
  border-radius: 5px !important;
  font-weight: 700 !important;
}

.ant-modal-body{
  padding-top: 0 !important;
}
.modal-precio{
  color: #ea2840;
  font-weight: 700;
}
.precioDesc{
  color: #ea2840;
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 2px;
}
.precioOriginal{
  color:#475be9;
  font-size: 16px;
  font-weight: 500;
}
.d-flex{
  text-align: center;
}
.ant-card-meta-description{
  display: flex;
}
.ant-card-body{
  padding-top: 0 !important;
}
.ant-card-hoverable:hover{
  border-color: #475be9;
}
/* items */
.ant-card-meta-description{
  justify-content: center;
}
.col-reference{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 20px !important;
}

.col-datos{
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  line-height: 55px;
  margin-top: 80px;
}
@media (max-width: 768px) {
  .col-datos{
    margin-top: 0;
  }
}
.logo-producto{
  width: 110px !important;
}
.detail-precioOriginal{
  font-size: 20px;
  color: red;
  font-weight: 700;
}
.col-datos p {
  margin-bottom: 0;
  color: #012b72;
  font-weight: 700;
  font-size: 20px;
}
.detail-precioActual{
  font-size: 30px !important;
  color: #ff5d2b !important;
  font-weight: 500 !important;
}
.contenedor-datos{
  border: 1px solid #66666663;
  padding: 20px 15px;
  width: 90%;
}
.icon-delete{
  font-size: 30px !important;
}
/*---------------- ITEMDETAILS------------ */
.img_groupMain{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex__imgDetalle{
  display: flex;
  gap: 15px;
  justify-content: center;
}
.titulo__producto--detalil{
  font-size: 26px;
  font-family: var(--fontPoppin) !important;
  font-weight: 700;
  color: #05170D;
  margin: 0;
  width: 80%;
  
}
.flex__precio--detail{
  display: flex;
  gap: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.descuento__cart--detail{
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4A3AFF;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  z-index: 3 !important;
  
}
/* FIN ITEM DETAILS  */
/* tablas */
.table__carrito{
  margin-top: 40px;
}
.total__cart{
  margin: 20px 0;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 4fr 1fr;
}
.btn__volver{
  /* margin-right: 20px; */
  background-color: #5CB85C !important;
  color: #fff !important;
  border-color: #5CB85C !important;
}
.btn_limpiar-cart{
  background-color: #ff7606 !important;
  color: #fff !important;
  border-color: #ff7606 !important;
}
.alert__cart{
  margin-top: 40px !important;
}
.text__alert--cart{
  margin-bottom: 0 !important;
  margin-left: 10px !important;
  color: #ea2840;
}
/* .ant-col-md-12 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}
.ant-col-xs-12 {
  flex: 0 0 65% !important;
  max-width: 65% !important;
} */
.btn_pedido{
  background-color: #5CB85C !important;
  color: #fff !important;
  border-color: #5CB85C !important;

}

/* conntador  */
.alert__stock{
  background: #EAE8FF !important;
  border: none !important;
  border-radius: 4px !important;
  color: #464646 !important;
  font-size: 16px !important;
  width: 60%;
}
.ant-alert-warning .ant-alert-icon{
  color: #464646 !important;
}
.flex-counter{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.titulo__cantidad--contador{
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.container-counter{
  border: 1px solid #C4C4C4;
  width: 149px;
  height: 42px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn__lado--menos{
  border-right: 1px solid #C4C4C4 !important;
}
.btn__lado--mas{
  border-left: 1px solid #C4C4C4 !important;
}
.btn-incrementador{
  font-size: 30px !important;
  font-weight: 500 !important;
  color: #4A3AFF !important;
  width: 49px !important;
  height: 42px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.flex__buttons--detail{
  display: flex;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.btn__disabled{
  opacity: .5;
}
.btn__agregarCart--detail{
  width: 35% !important;
  height: 48px !important;
  font-family: var(--fontPoppin) !important;
  font-size: 18px !important;
  color: #EF2D5B !important;
  border: 1px solid #EF2D5B !important;
  border-radius: 10px !important;
  font-weight: 700 !important;
}
.btn__comprar--detail{
  width: 30% !important;
  height: 48px !important;
  font-family: var(--fontPoppin) !important;
  font-size: 18px !important;
  color: #fff !important;
  background: #EF2D5B !important;
  border: 1px solid #EF2D5B !important;
  border-radius: 10px !important;
  font-weight: 700 !important;
}
.btn__favoritos--detail{
  font-size: 16px !important;
  color: #464646 !important;
  margin-top: 15px;
  font-family: var(--fontPoppin) !important;
}
.row-characters{
  margin-top: 60px;
  margin-left: 120px;
}
.titulo__caracteristicas{
  font-size: 20px;
  color: #05170D;
  font-family: var(--fontPoppin) !important;
  font-weight: 700;
  border-bottom: 8px solid #05170D;
  display: inline-block;
}
.ul-reference{
  margin-left: 20px;
  margin-top: 30px;
  display: flex;
  gap: 100px;
  font-size: 16px;
}
::marker {
  font-size: 20px;
  color: #4253CE;
}
/* CARRITO DE COMPRAS */
.contenido__cart{
  background: rgba(206, 206, 206, 0.1) !important;
  padding-bottom: 50px;
}
.cart-container{
  width: 1108px;
  height: 262px;
  background: #fff;
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  display: flex;
  margin-bottom: 40px;
}
.img__cart{
  margin: auto;
  width: 223px !important;
  height: 223px !important;
}
.cart__contenido{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cart__contenido--top{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.titulo__product--cart{
  font-size: 24px;
  width: 75%;
  
  margin: 0 !important;
  font-weight: 700;
}
.flex__precios--cart{
  display: flex;
  justify-content: space-between;
}
.precios__cart{
  display: flex;
  align-items: center;
  gap: 30px;
}
.text__precio--cart{
  font-size: 24px;
  font-weight: 700;
  color: #263238 !important;
  margin: 0;
}
.result__precio--cart{
  color: #4A3AFF !important;
  font-weight: 400 !important;
}
.del__precio--cart{
  font-size: 18px;
  font-family: 400;
  color: #263238 !important;
}
.cantidad__total--cart{
  font-size: 16px;
  color: #263238 !important;
  font-weight: 600;
  margin-right: 80px;
}
.icon-delete{
  margin-right: 40px;
}
.flex__contenido--bot{
  display: flex;
  justify-content: space-between;
}
.icon__addproduct{
  font-size: 30px;
}
.btn__addProduct--cart{
  color: #4A3AFF !important;
  font-size: 16px !important;
  font-family: var(--fontPoppin) !important;
  font-weight: 600 !important;
  border-radius: 7px !important;
  border: 2px solid #4A3AFF !important;
  width: 244px !important;
  height: 56px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.text__total--cart{
  
  font-size: 36px;
  color: #263238 !important;
  font-weight: 700;

}
.result__total--cart{
  font-weight: 700 !important;
  color: #4A3AFF !important;
}
.flex__btn--confirm{
  display: flex;
  justify-content: center;
}
.btn__confirm--cart{
  height: 56px !important;
  width: 50%;
  background: #EF2D5B !important;
  border-radius: 10px !important;
  border: 2px solid #EF2D5B !important;
  font-size: 18px !important;
  font-family: var(--fontPoppin) !important;
  font-weight: 700 !important;
  color: #fff !important;
}
.flex__cart-vacio{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text__cart--vacio{
  width: 50%;
  text-align: center;
  font-size: 36px;
  font-family: var(--fontPoppin) !important;
  font-weight: 700;
  color: #EF2D5B;
  margin-top: 40px;
}
.btn__goProduct{
  width: 30%;
  text-align: center;
  height: 50px !important;
  border-radius: 10px;
  background: #EF2D5B !important;
  color: #fff !important;
  font-size: 16px !important;
  font-family: var(--fontPoppin) !important;
  font-weight: 700 !important;
  box-shadow: 2px 2px 8px 0px rgba(178, 178, 178, 0.5) !important;
  border: none !important;
}
.contenido__login{
  background: #0E2345;
  background-image: url('https://i.ibb.co/5ctKkGB/fondo-login.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 1194px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-form{
  width: 557px !important;
  height: 688px !important;
  margin: 0 auto;
  padding-top: 40px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container-form--register{
  width: 557px !important;
  height: 804px !important;
  margin: 0 auto;
  padding-top: 40px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form__login{
  width: 70%;
}
.logo__login{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.titulo__login{
  font-size: 42px;
  font-family: var(--fontPoppin) !important;
  font-weight: 700;
  color: #0A193C !important;
  text-align: center;
}
.email__label{
  font-size: 16px !important;
  font-family: var(--fontPoppin) !important;
  font-weight: 700;
  color: #0D2457 !important;
}
.password__label{
  font-size: 16px !important;
  font-family: var(--fontPoppin) !important;
  font-weight: 700;
  color: #0D2457 !important;
}
.email__input{
  font-size: 16px !important;
  font-weight: 400;
  height: 45px !important;
  border-radius: 5px !important;
  
}
.password__input{
  font-size: 16px !important;
  font-weight: 400;
  height: 45px !important;
  border-radius: 5px !important;
}
.flex__checkPass{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.checket__label{
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #0D2457 !important;
}
.login-form-forgot{
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #0D2457 !important;
  
}
.btn__ingresar--login{
  border-radius: 10px !important;
  width: 70%;
  background: #EF2D5B !important;
  font-size: 16px !important;
  color: #fff !important;
  font-weight: 700 !important;
  font-family: var(--fontPoppin) !important;
  height: 50px !important;
  border: none !important;
}
.btn__crearUser{
  border-radius: 10px !important;
  width: 70%;
  background: #fff !important;
  font-size: 16px !important;
  color: #EF2D5B !important;
  font-weight: 700 !important;
  font-family: var(--fontPoppin) !important;
  height: 50px !important;
  border: 2px solid #EF2D5B !important;
}
.text__separador{
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px !important;
  font-weight: 700;
  color: #716B81 !important;
}
.centrado__button--login{
  display: flex;
  align-items: center;
  justify-content: center;
}
.d__flex--contenido{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor__pedido--exitoso{
  width: 557px;
  height: 642px !important;
  background: #fff !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenido__pedido{
  background: #0E2345;
  background-image: url('https://i.ibb.co/5ctKkGB/fondo-login.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 1194px;
  display: flex;
  align-items: center;
  justify-content: center;;
}
.titulo__pedido--exitoso{
  font-size: 38px !important;
  font-family: var(--fontPoppin) !important ;
  font-weight: 700;
  text-align: center;
  color: #0A193C;
  line-height: 47px;
}
.contenedor__codigo{
  border-radius: 4px;
  background: #EAE8FF;
  width: 80%;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.titulo__codigo--exitoso{
  font-weight: 700;
  font-size: 16px;
  color: #0A193C;
  text-align: center;
  margin: 0;
}
.codigo__exitoso{
  font-size: 28px;
  font-weight: 600 !important;
  font-family: var(--fontPoppin) !important;
  color: #4A3AFF;
  margin: 0;
}
.btn__goHome{
  font-family: var(--fontPoppin) !important;
  font-size: 16px !important;
  font-weight: 700 !important;
}
.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
  display: none !important;
}
.ant-form-item-label > label::after{
  content: unset !important;
}
.ant-form-item{
  flex-direction: column !important;
  align-items: flex-start !important;
}
.ant-form-horizontal .ant-form-item-control{
  min-width: 100% !important;
}