*{
  margin: 0;
  padding: 0 ;
  font-family: 'Roboto', sans-serif !important;
}
:root{
  
}

/* COMPONENTS ----- NAVBAR-----  */
.header{
  height: 70px !important;
  background-color: #475be9;
}
.container{
  max-width: 1300px;
  margin: 0 auto;
  width: 85%;
}

.nav-main{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}
.row-nav-main{
  padding-top: 11px !important;
}
.logo-main{
  display: flex;
  align-items: center;
  align-self: center;
  /* justify-content: center; */
}
.img-logo{
  width: 45px;
  height: 45px;
}
.header  .left .logo-main p{
  margin-bottom: 0;
  font-size: 30px;
  color: #fff;
}
.header  .left .logo-main span{
  font-weight: 600;
  font-style: italic;
}
@media (max-width: 768px) {
  .img-logo{
    width: 45px;
    height: 45px;
  }
  .header  .left .logo-main p{
    font-size: 25px;
  }
}
.left{
  flex: 1;
  background-color: #475be9;
}
/* .col-center{
  
  justify-content: center !important;
} */
.center{
  flex: 3;
  justify-content: center;
  background: unset !important;
  border: none !important;
  font-size: 20px !important;
  align-items: center;
  color: #fff !important;
  font-weight: 400;
}
.icon-size{
  font-size: 25px !important;
}
@media (max-width: 768px) {
     .center{
       font-size: 18px !important;
     }
     .icon-size{
       font-size: 20px !important;
     }
     .center{
       display: none !important;
     }
}
/* .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected{
  color: #fff !important;
} */
.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover{
  color: #fff !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after{
  border-bottom: 2px solid #fff !important;
}
/* .col-right{
  display: flex !important;
  justify-content: center !important;
align-items: center !important;
} */
.button-center{
  /* flex: 2 !important; */
  display: none;
}
.btn-menu{
  height: 35px !important;
  width: 35px !important;
  border-radius: 4px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.drawer-contenido{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-size: 20px;
  
}
.drawer-link{
  font-size: 20px !important;
  padding-bottom: 10px;
  color: #000;
  border-bottom: 1px solid #000;
  width: 100%;
}
.drawer-login{
  width: 100%;
  border-radius: 16px;
  background-color: #211d399c;
  color: #fff;
  font-weight: 500;
  padding: 2px 0;
  border: 2px solid #000;
}
@media (max-width: 768px) {
  .button-center{
    flex: 1 !important;
    display: flex !important;
    justify-content: right !important;
    display: unset;
  }
}
.ant-drawer .ant-drawer-content{
  width: unset !important;
}
.ant-drawer-content{
  left: 15px !important;
}
.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
  width: 95% !important;
}
.right{
  flex: 1;
  justify-content: right;
  align-items: center;
  gap: 10px;
  display: flex;
}
.btn-login{
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
.btn-login:hover{
  border-bottom: 2px solid #fff;
}
@media (max-width: 768px) {
     .btn-login{
       font-size: 18px;
     }
     .right{
       display: none;
     }
}
/* Fin ------Nav-bar ------ */
/* ----------nav Bar REesponsive ---------- */

/* COMPONENTS --------- Cart Widget ------ */
.icon-cartwidget{
  font-size: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contador-cartwidget{
  background-color: rgb(93, 238, 10);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  color: #fff;
  margin: -20px 0px 0px -15px;
}
.icon-cartwidget .contador-cartwidget p{
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 900;
}
@media (max-width: 768px) {
     .icon-cartwidget{
       font-size: 25px;
      
     }
     .contador-cartwidget{
       width: 16px;
       height: 16px;
     }
     .icon-cartwidget .contador-cartwidget p{
      font-size: 10px;
    }
}
/* FIN ----- Cart Widget ------- */
/* COMPONENTS -------- Item List Widget ---------- */
.itemListContainer{
  /* text-align: center; */
  margin-top: 20px;
}


.site-card-wrapper {
  padding: 30px;
  background: #ececec;
}

.card-producto{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.space-count{
  display: flex !important;
  justify-content: center !important;
  gap: 10px !important;
}
.card-contador{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn-onAdd{
  background-color: #ff9306 !important;
  border-color: #ff9306 !important;
  color: #fff !important;
  border-radius: 5px !important;
  font-weight: 700 !important;
}
.btn-onFinish{
  background-color: #5CB85C !important;
  border-color: #5CB85C !important;
  color: #fff !important;
  border-radius: 5px !important;
  font-weight: 700 !important;
}
.btn-incrementador{
  
  font-size: 18px !important;
  border-radius: 8px !important;
  height: unset !important;
}
.ant-modal-body{
  padding-top: 0 !important;
}
.modal-precio{
  color: #ea2840;
  font-weight: 700;
}
.precioDesc{
  color: #ea2840;
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 2px;
}
.precioOriginal{
  color:#475be9;
  font-size: 16px;
  font-weight: 500;
}
.d-flex{
  text-align: center;
}
.ant-card-meta-description{
  display: flex;
}
.ant-card-body{
  padding-top: 0 !important;
}
.ant-card-hoverable:hover{
  border-color: #475be9;
}
/* items */
.ant-card-meta-description{
  justify-content: center;
}
.col-reference{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 20px !important;
}
.ul-reference{
  margin-left: 40px !important;
}
.col-datos{
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  line-height: 55px;
  margin-top: 80px;
}
@media (max-width: 768px) {
  .col-datos{
    margin-top: 0;
  }
}
.logo-producto{
  width: 110px !important;
}
.detail-precioOriginal{
  font-size: 20px;
  color: red;
  font-weight: 700;
}
.col-datos p {
  margin-bottom: 0;
  color: #012b72;
  font-weight: 700;
  font-size: 20px;
}
.detail-precioActual{
  font-size: 30px !important;
  color: #ff5d2b !important;
  font-weight: 500 !important;
}
.contenedor-datos{
  border: 1px solid #66666663;
  padding: 20px 15px;
  width: 90%;
}
.icon-delete{
  font-size: 30px !important;
}
/* tablas */
.table__carrito{
  margin-top: 40px;
}
.total__cart{
  margin: 20px 0;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 4fr 1fr;
}
.btn__volver{
  /* margin-right: 20px; */
  background-color: #5CB85C !important;
  color: #fff !important;
  border-color: #5CB85C !important;
}
.btn_limpiar-cart{
  background-color: #ff7606 !important;
  color: #fff !important;
  border-color: #ff7606 !important;
}
.alert__cart{
  margin-top: 40px !important;
}
.text__alert--cart{
  margin-bottom: 0 !important;
  margin-left: 10px !important;
  color: #ea2840;
}
/* .ant-col-md-12 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}
.ant-col-xs-12 {
  flex: 0 0 65% !important;
  max-width: 65% !important;
} */
.btn_pedido{
  background-color: #5CB85C !important;
  color: #fff !important;
  border-color: #5CB85C !important;

}
.container-form{
  max-width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  width: 85%;;
}