*{
  margin: 0;
  padding: 0 ;
  font-family: 'Roboto', sans-serif !important;
}
:root{
  
}

/* COMPONENTS ----- NAVBAR-----  */
.header{
  height: 70px !important;
  background-color: #211d399c;
}
.nav-bar{
  max-width: 1300px;
  margin: 0 auto;
  width: 90%;
}

.nav-main{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}
.row-nav-main{
  padding-top: 11px !important;
}
.logo-main{
  display: flex;
  align-items: center;
  align-self: center;
  /* justify-content: center; */
}
.img-logo{
  width: 45px;
  height: 45px;
}
.header  .left .logo-main p{
  margin-bottom: 0;
  font-size: 30px;
  color: #fff;
}
.header  .left .logo-main span{
  font-weight: 600;
  font-style: italic;
}
@media (max-width: 768px) {
  .img-logo{
    width: 45px;
    height: 45px;
  }
  .header  .left .logo-main p{
    font-size: 25px;
  }
}
.left{
  flex: 1;
}
/* .col-center{
  
  justify-content: center !important;
} */
.center{
  flex: 3;
  justify-content: center;
  background: unset !important;
  border: none !important;
  font-size: 20px !important;
  align-items: center;
  color: #fff !important;
  font-weight: 400;
}
.icon-size{
  font-size: 25px !important;
}
@media (max-width: 768px) {
     .center{
       font-size: 18px !important;
     }
     .icon-size{
       font-size: 20px !important;
     }
     .center{
       display: none !important;
     }
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected{
  color: #fff !important;
}


.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after{
  border-bottom: 2px solid #fff !important;
}
/* .col-right{
  display: flex !important;
  justify-content: center !important;
align-items: center !important;
} */
.button-center{
  /* flex: 2 !important; */
  display: none;
}
.btn-menu{
  height: 35px !important;
  width: 35px !important;
  border-radius: 4px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.drawer-contenido{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-size: 20px;
  
}
.drawer-link{
  font-size: 20px !important;
  padding-bottom: 10px;
  color: #000;
  border-bottom: 1px solid #000;
  width: 100%;
}
.drawer-login{
  width: 100%;
  border-radius: 16px;
  background-color: #211d399c;
  color: #fff;
  font-weight: 500;
  padding: 2px 0;
  border: 2px solid #000;
}
@media (max-width: 768px) {
  .button-center{
    flex: 1 !important;
    display: flex !important;
    justify-content: right !important;
    display: unset;
  }
}
.ant-drawer .ant-drawer-content{
  width: unset !important;
}
.ant-drawer-content{
  left: 15px !important;
}
.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
  width: 95% !important;
}
.right{
  flex: 1;
  justify-content: right;
  align-items: center;
  gap: 10px;
  display: flex;
}
.btn-login{
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
.btn-login:hover{
  border-bottom: 2px solid #fff;
}
@media (max-width: 768px) {
     .btn-login{
       font-size: 18px;
     }
     .right{
       display: none;
     }
}
/* Fin ------Nav-bar ------ */
/* ----------nav Bar REesponsive ---------- */

/* COMPONENTS --------- Cart Widget ------ */
.icon-cartwidget{
  font-size: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contador-cartwidget{
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  color: #211d399c;
  margin: -20px 0px 0px -15px;
}
.icon-cartwidget .contador-cartwidget p{
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 900;
}
@media (max-width: 768px) {
     .icon-cartwidget{
       font-size: 25px;
      
     }
     .contador-cartwidget{
       width: 16px;
       height: 16px;
     }
     .icon-cartwidget .contador-cartwidget p{
      font-size: 10px;
    }
}
/* FIN ----- Cart Widget ------- */
/* COMPONENTS -------- Item List Widget ---------- */
.itemListContainer{
  text-align: center;
  margin-top: 20px;
}